<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylelogin.css') }}">
</head>

<body>

    <!-- BACKGROUND ANIMATION -->
    <div class="stars"></div>
    <div class="shooting-star"></div>
    <div class="shooting-star"></div>
    <div class="shooting-star"></div>
    <div class="shooting-star"></div>
    <div class="shooting-star"></div>

    <!-- LOGIN BOX -->
    <div class="container">
        <h2 style="text-align:center;">Login</h2>

        <form action="/login" method="POST">

            <label>Username</label>
            <input type="text" name="username" placeholder="Username" required>

            <label>Password</label>
            <input type="password" name="password" placeholder="Password" required>

            <label>Select Role</label>
            <select name="role">
                <option value="student">Student</option>
                <option value="admin">Admin</option>
            </select>

            {% if error %}
            <p class="error-box">{{ error }}</p>
            {% endif %}

            <button type="submit" class="btn">Login</button>

        </form>
    </div>

</body>
</html>
